/* --------------------------------------------------------------
WPML Styles
-------------------------------------------------------------- */

.ccfw-header-topbar .widget #lang_sel {
	height: inherit;
	font-family: inherit;
	margin-left: 20px;
	position: relative;
	top: -3px;
	margin-bottom: -10px;
}

.ccfw-header-topbar .widget #lang_sel span {
	padding: 0px;
	margin: 0px;
	border: none;
}

.ccfw-header-topbar .widget_icl_lang_sel_widget {
	margin-bottom: 0px;
	float: right;
}

.ccfw-header-topbar #lang_sel ul {
	text-align: left;
}

.ccfw-header-topbar #lang_sel li,
#lang_sel ul ul {
	width: 149px;
}

.ccfw-header-topbar #lang_sel ul ul {
	top: 23px;
}

.ccfw-header-topbar #lang_sel a {
	font-size: 12px;
	border: none;
}

.ccfw-header-topbar #lang_sel a.lang_sel_sel {
	background-image: none;
}

.ccfw-header-topbar #lang_sel a.lang_sel_sel:after {
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 12px;
	opacity: 0.4;
	position: absolute;
	right: 7px;
}

.ccfw-header-topbar #lang_sel ul ul a {
	border: 1px solid #eee;
}

.ccfw-header-topbar #lang_sel ul ul li img {
	margin-right: 2px;
}

.ccfw-header-topbar #lang_sel img.iclflag {
	top: 2px;
}

.ccfw-header-topbar .widget_icl_lang_sel_widget a {
    opacity: 1;
}

@media only screen and (max-width: 768px) {

	.ccfw-header-topbar .widget_icl_lang_sel_widget {
		float: none;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.ccfw-header-topbar .widget #lang_sel {
		margin-left: 0px;
	}

	.ccfw-header-topbar .widget_icl_lang_sel_widget span {
		display: inline;
	}

}


/* --------------------------------------------------------------
WooCommerce Styles
-------------------------------------------------------------- */

.ccfw-shop-main {
	padding-top: 15px;
	padding-bottom: 20px;
}

.page-template-page-woocommerce-full-width .cta-button {
	display: none;
}

.woocommerce .woocommerce-ordering, 
.woocommerce .woocommerce-result-count {
	margin: 0px 0px 5px 0px;
	font-size: 14px;
	color: #999;
}

.woocommerce .woocommerce-ordering select {
	font-size: 14px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.woocommerce .woocommerce-result-count {
	margin-bottom: 35px;
}

body.woocommerce .woocommerce-ordering {
	position: relative;
	top: -8px;
}

.woocommerce .products ul, 
.woocommerce ul.products {
	margin-left: -2px;
	margin-right: -4px;
}

/* -- Widgets */

.widget.woocommerce {
	margin-bottom: 50px;
}

#secondary .widget_product_categories h4.widget-title {
	margin-top: 0px;
	margin-bottom: 24px;
}

.widget.woocommerce ins {
	text-decoration: none;
}

.widget.woocommerce ul.product_list_widget li .star-rating {
	font-size: 12px;
	margin: 7px 0px 5px 0px;
	letter-spacing: 0.05em;
}

.woocommerce ul.product_list_widget li img {
	margin-left: 10px;
	margin-bottom: 2px;
	width: 62px;
}

#secondary .widget.woocommerce ul.product_list_widget li {
	border-top: 1px solid #eee;
	padding-top: 12px;
	padding-bottom: 10px;
}

.widget.woocommerce ul.product_list_widget li del,
.widget.woocommerce ul.product_list_widget li del span.amount {
	color: #999;
	margin-right: 1px;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
	font-weight: inherit;
	line-height: 1.5em;
	margin-bottom: 2px;
}

.woocommerce .widget_layered_nav ul li .count {
	font-size: 0.8em;
	margin-left: 3px;
	color: #999;
}

.ccfw-content .widget_shopping_cart a.button {
	margin-right: 4px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty {
	padding-left: 0em;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 8px;
}

.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
	padding: 8px 0px 0px;
	border-top: 1px solid #eee;
	margin-top: 3px;
}

.woocommerce .widget_shopping_cart .total strong, 
.woocommerce.widget_shopping_cart .total strong {
	font-weight: 400;
}

.woocommerce .widget_shopping_cart .total .amount,
.woocommerce.widget_shopping_cart .total .amount {
	color: inherit;
}

.price_slider_wrapper {
	margin-top: 25px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #eee;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #ccc;
	width: 0.6em;
	height: 0.6em;
	top: -0.1em;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
	height: 0.3em;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
	margin-top: 3px;
	font-size: 1em;
}

/* -- Product Categories Widget -- */

.widget_product_categories ul {
    border-top: 1px solid #eee;
}

.widget_product_categories ul li a {
	color: #343434;
	padding: 17px 12px 17px 16px;
	display: block;
	text-align: left;
	position: relative;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-size: 16px;
	transition: all 0.25s ease-in-out;
}

.widget_product_categories ul li a:hover {
    border-left-color: #f7c51e;
}

.widget_product_categories ul li.current-cat > a,
.widget_product_categories ul li.current-cat-parent.cat-parent > a {
    background-color: #f9f9f9;
    color: #000;
    position: relative;
    z-index: 2;
}

.widget_product_categories ul.children {
	display: none;
}

.widget_product_categories ul li.current-cat.cat-parent ul.children,
.widget_product_categories ul li.current-cat-parent.cat-parent ul.children {
	display: block;
}

.widget_product_categories ul ul.children {
    margin-top: -16px;
    padding-bottom: 16px;
    background: #f7c51e;
    position: relative;
    z-index: 2;
    border: none;
}

.widget_product_categories ul.children li a {
    padding-top: 8px;
    padding-bottom: 0px;
    font-size: 14px;
    border-bottom: none;
    background: #f7c51e;
    border-color: #f7c51e;
    color: #111;
}

.widget_product_categories ul.children li a:before {
    content: "\f125";
    font-family: 'Ionicons';
    font-style: normal;
    font-size: 9px;
    margin-left: 1px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

/* -- Rating -- */

.woocommerce .widget_rating_filter ul li .star-rating {
    position: relative;
    font-size: 14px;
    top: 2px;
}

/* -- Product Card */

.woocommerce .products ul, .woocommerce ul.products {
	margin-bottom: 0px;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	width: 30.75%;
	text-align: center;
}

body.woocommerce-page ul.products li.product a img {
	margin-bottom: 0.5em;
	border-radius: 2px;
	border: 2px solid transparent;
	transition: all 0.2s ease 0s;
}

body.woocommerce-page ul.products li.product a:hover img {
	border-color: #24A3D8;
}

body.woocommerce-page ul.products li.product h3 {
	padding: 0px;
	margin: 16px 2px 6px 2px;
	line-height: 1.4em;
	font-size: 18px;
	letter-spacing: -0.02px;
}

body.woocommerce-page ul.products li.product .price {
	font-size: 1em;
	overflow: hidden;
	margin-left: 2px;
}

body.woocommerce span.onsale {
	min-width: 3.736em;
	background-color: #6FC400;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	font-weight: inherit;
}

body.woocommerce-page ul.products li.product .price ins {
	text-decoration: none;
}

body.woocommerce-page ul.products li.product .price {
 	color: inherit;
}

body.woocommerce-page ul.products li.product .price del {
	color: #777;
}

body.woocommerce-page ul.products li.product .button {
	margin-top: 0em;
	font-size: 14px;
	margin: 0px 2px;
	padding: 12px 18px;
}

body.woocommerce-page ul.products li.product .star-rating {
	font-size: 0.7em;
	margin-bottom: 5px;
	margin-left: 2px;
	letter-spacing: 0.06em;
	line-height: 0.85em;
	margin-left: auto;
	margin-right: auto;
}

body.woocommerce-page ul.products li.product .price del {
	margin-right: 7px;
	display: inline;
}

body.woocommerce-page ul.products li.product .price ins {
	font-weight: inherit;
	display: inline;
}

.woocommerce a.added_to_cart {
	border-bottom: 1px solid;
	margin-left: 5px;
	font-size: 15px;
	line-height: 1.4em;
	position: relative;
	top: -2px;
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
	position: relative;
	font-size: 12px;
	margin-left: 10px;
	vertical-align: middle;
	top: -1px;
	right: auto;
}

/* -- Star Rating */

body .woocommerce .star-rating {
	font-family: inherit;
}

.woocommerce .star-rating span:before {
	color: #ee9e13;
}

.woocommerce .star-rating:before {
	content: "☆☆☆☆☆";
}

.woocommerce .star-rating span:before {
	content: "★★★★★";
}

body.woocommerce nav.woocommerce-pagination ul {
	border: none;
}

body.woocommerce nav.woocommerce-pagination ul li {
	border: none;
	margin: 0px 2px;
}

.woocommerce p.stars a {
	color: #999;
}

.woocommerce p.stars a.star-1:after, 
.woocommerce p.stars a.star-2:after, 
.woocommerce p.stars a.star-3:after, 
.woocommerce p.stars a.star-4:after, 
.woocommerce p.stars a.star-5:after {
	font-family: inherit;
}

.woocommerce p.stars a.star-1:after {
	content: "☆";
}

.woocommerce p.stars a.star-2:after {
	content: "☆☆";
}

.woocommerce p.stars a.star-3:after {
	content: "☆☆☆";
}

.woocommerce p.stars a.star-4:after {
	content: "☆☆☆☆";
}

.woocommerce p.stars a.star-5:after {
	content: "☆☆☆☆☆";
}

.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after {
	content: "★";
	color: #ee9e13;
}

.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after {
	content: "★★";
	color: #ee9e13;
}

.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after {
	content: "★★★";
	color: #ee9e13;
}

.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after {
	content: "★★★★";
	color: #ee9e13;
}

.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after {
	content: "★★★★★";
	color: #ee9e13;
}

/* -- Products Pagination */

.woocommerce nav.woocommerce-pagination {
	margin-bottom: 50px;
}

body.woocommerce nav.woocommerce-pagination ul li a,
body.woocommerce nav.woocommerce-pagination ul li span.current {
	border: 1px solid #e2e2e2;
	background: transparent;
	padding: 15px 14px;
	font-size: 15px;
	color: #111;
}

body.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover {
	color: inherit;
	background: transparent;
}

.woocommerce nav.woocommerce-pagination ul li a:hover {
	background-color: transparent;
	border-color: #999;
}


/* -- Product Details */

.woocommerce .woocommerce-product-rating .star-rating {
	margin-top: 0.6em;
	letter-spacing: 0.055em;
}

.woocommerce div.product .product_title {
	font-size: 34px;
	margin-bottom: 13px;
	line-height: 1.3em;
	letter-spacing: -0.1px;
}

body.woocommerce div.product .woocommerce-product-rating {
	font-size: 0.85em;
	margin-bottom: 0.15em;
	margin-top: -8px;
}

.woocommerce div.product div.images .thumbnails a,
.woocommerce div.product div.images .thumbnails img {
	width: 60px;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: #f5f5f5;
	margin: 0px;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	outline: 0;
}

.woocommerce div.product a.woocommerce-review-link {
	position: relative;
	color: inherit;
	top: 1px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.05em;
	font-weight: 400;
}

.woocommerce .summary p, 
.woocommerce div.product .woocommerce-tabs .panel#tab-description p {
	font-size: 16px;
}

body.woocommerce div.product form.cart {
	margin-top: 1.5em;
}

.woocommerce div.product form.cart .button {
	width: 75%;
	height: 60px;
	padding: 0px;
	font-weight: 400;
	font-size: 24px;
	text-transform: capitalize;
	border-radius: 2px;
	margin-left: 1.2%;
	margin-top: 0px;
	letter-spacing: -0.3px;
}

.woocommerce button.button.alt:hover {
	opacity: 0.9;
}

.woocommerce .quantity .qty {
	width: 3em;
	text-align: center;
	height: 60px;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
}

.woocommerce .quantity .qty:focus {
	border-color: #ccc;
}

.product_meta {
	font-size: 13px;
	padding-top: 15px;
	border-top: 1px dotted #e2e2e2;
	text-transform: capitalize;
}

.product_meta span {
	display: block;
	line-height: 1.6em;
	margin-bottom: 5px;
}

body.woocommerce-page div.product div.thumbnails a.first {
	clear: inherit;
}

body.woocommerce-page div.product div.thumbnails a.last {
	margin-right: 3.8%;
}

.woocommerce div.ppt {
	visibility: hidden;
}

/* -- Product Tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0px;
	margin-bottom: 40px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
	margin-right: 5px;
	border-color: #e2e2e2;
	background-color: #f7f7f7;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active {
	background: #fff;
	border-bottom-color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-color: #e2e2e2;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 400;
	font-size: 14px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	visibility: hidden;
}


/* -- Product Reviews */

.woocommerce div.product .woocommerce-tabs p.woocommerce-noreviews {
	margin-top: -10px;
	margin-bottom: 30px;
}

	.woocommerce div.product p.price {
	margin-right: 7px;
	padding-top: 3px;
	margin-bottom: 13px;
}

.woocommerce div.product p.price del {
	margin-right: 6px;
	font-size: 18px;
	color: #777;
}

.woocommerce div.product p.price ins {
	text-decoration: none;
	font-weight: 400;
}

.woocommerce #review_form p.stars {
	font-size: 13px;
}

.woocommerce #review_form p.stars span {
	position: relative;
	top: 6px;
	left: 0px;
	width: 80%;
	float: right;
}

.woocommerce #review_form #respond p.stars {
	position: relative;
	top: -33px;
}

.woocommerce p.comment-form-comment {
	margin-top: 20px;
}

.woocommerce #reviews #comments h2,
.woocommerce #reviews h3 {
	margin-bottom: 30px;
	font-weight: normal;
}

.woocommerce #reviews h3.comment-reply-title {
	margin-bottom: 0px;
}

.woocommerce #review_form #respond p.comment-notes {
	font-size: 85%;
	color: #888;
	margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist {
	margin-bottom: 20px;
}

.woocommerce #reviews #comments ol.commentlist .description {
	margin: 10px 0px 20px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 48px;
	padding: 0px;
	border: none;
	background-color: transparent;
}

body.woocommerce .panel {
	box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs .panel#tab-description h2 {
	margin-bottom: 22px;
} 

.woocommerce #review_form #respond label {
	display: block;
	margin-bottom: 5px;
	margin-top: 20px;
}

.woocommerce #review_form #respond textarea {
	height: 130px;
	font-size: 14px;
}

body.woocommerce #respond input#submit, 
body.woocommerce a.button, .woocommerce button.button, 
body.woocommerce input.button {
	font-weight: 400;
	margin-top: 1.2em;
}

.woocommerce #review_form #respond .form-submit input {
    padding: 14px 22px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

.woocommerce-tabs h2, .related h2, .upsells h2, .woocommerce #reviews h3 {
	font-size: 26px;
	margin-top: 0px;
	line-height: 1.5em;
	font-weight: normal;
}

.woocommerce #review_form #respond input[type="text"], 
.woocommerce #review_form #respond input[type="email"] {
	width: 100%;
}

.related h2, .upsells h2 {
	margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist {
	padding: 0px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 60px;
	border-radius: 0px;
	border: none;
	background-color: #f6f6f6;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	margin-bottom: 0em;
	margin-top: 0px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
	font-weight: normal;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	font-size: 15px;
	line-height: 1.5em;
	margin-top: 10px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating {
	font-size: 13px;
	margin-top: 3px;
	line-height: 0.9em;
	letter-spacing: 0.05em;
}

/* -- Messages */

.woocommerce .woocommerce-message .button {
	margin-top: 0px;
}

.woocommerce .woocommerce-info {
	padding-left: 1.5em !important;
}

.woocommerce .woocommerce-info:before {
	display: none;
}


/* -- Product Lightbox */

div.pp_woocommerce .pp_content_container {
	padding-bottom: 7px;
}

.pp_nav p.currentTextHolder {
	position: relative;
	top: -6px;
}

div.pp_woocommerce .pp_close {
	text-indent: -9999px;
}

/* -- Cart Items */

.woocommerce table.shop_table {
	border-radius: 0px;
	border: none;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
	border: none;
	vertical-align: middle;
}

.woocommerce table.shop_table tr.cart-subtotal td {
	font-weight: 400;
}

.woocommerce table.shop_table th {
	border-bottom: 1px solid #eee;
	font-weight: 400;
}

.woocommerce table.shop_table .product-subtotal {
	text-align: right;
	padding-right: 18px;
}

.woocommerce .cart .button {
	font-weight: 400;
}

.woocommerce a.remove:hover {
	background: transparent;
	color: red !important;
	text-decoration: none;
	opacity: 0.8;
}

.woocommerce table.shop_table td {
	border-bottom: 1px solid #eee;
	padding: 20px 12px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 10px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text::-webkit-input-placeholder {
	line-height: 1.4em;
}

.woocommerce-page table.cart td.actions input.button {
	background: #eee;
	padding: 16px 18px 15px 18px;
	color: #333;
	position: relative;
	top: -1px;
}

.woocommerce table.shop_table td.actions {
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}

.woocommerce table.shop_table .quantity .qty {
	height: auto;
}

.woocommerce table.shop_table .quantity input.qty {
	padding: 5px 0px;
	font-size: 15px;
}

.woocommerce-page table.cart td.actions .input-text {
	width: auto;
	padding: 7px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background-color: #f2f2f2;
}

/* -- Cart Totals */

.content-area .cart_totals h2,
.content-area .cross-sells h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
}

.woocommerce .cart-collaterals, 
.woocommerce-page .cart-collaterals {
	margin-bottom: 30px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	margin-top: 0px;
	border-bottom: none;
	padding-left: 10px;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	font-weight: 400;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
	border: 1px solid #eee;
}

.content-area .cart-collaterals p {
	margin-bottom: 0px;
}

.woocommerce ul#shipping_method li {
	font-size: 15px;
	padding: 0px;
	text-indent: 0px;
	margin-bottom: 3px;
}

.woocommerce ul#shipping_method li input {
	margin-right: 5px;
	position: relative;
	top: -1px;
}

.content-area .cart-collaterals table a.shipping-calculator-button {
	font-size: 15px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	padding: 17px 0px;
	font-size: 20px;
	font-weight: 400;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
	opacity: 0.9;
}

section.shipping-calculator-form {
	margin: 10px 10px 10px 0px;
}

.woocommerce section.shipping-calculator-form button.button {
	margin-top: 0.5em;
	font-size: 15px;
}

.woocommerce form .form-row {
	padding: 3px 0px;
	margin-bottom: 12px;
}

.woocommerce ul#shipping_method {
	margin-bottom: 6px;
}

.woocommerce form .shipping-calculator-form .form-row {
	margin-bottom: 0px;
}

body .select2-container .select2-choice footer{
	border-color: #e2e2e2;
	border-radius: 0px;
}

/* -- Empty Cart */

.content-area .entry-content p.return-to-shop {
	margin-bottom: 5em;
}

.woocommerce p.return-to-shop a.button {
	font-weight: inherit;
}


/* -- Checkout */

form.checkout label {
	margin-bottom: 0px;
}

.woocommerce form .form-row input.input-text#billing_address_1,
.woocommerce form .form-row input.input-text#shipping_address_1 {
	margin-bottom: -10px;
}

.woocommerce-shipping-fields h3#ship-to-different-address {
	position: relative;
	padding-left: 30px;
	line-height: 32px;
	margin-bottom: 20px;
	position: relative;
	top: 5px;
}

.woocommerce-shipping-fields h3#ship-to-different-address input.input-checkbox {
	position: absolute;
	top: 6px;
	left: 0px;
}

.content-area a.select2-choice:hover {
	border-bottom-color: inherit;
}

/* -- My Account */

.woocommerce-account .content-area h2 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.woocommerce form.login, 
.woocommerce form.register {
	margin-top: 1.5em;
}

.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
	padding: 25px;
	border-radius: 2px;
	border-color: #e2e2e2;
}

body .woocommerce form.checkout_coupon {
	padding: 0px 0px 20px 0px;
	border: none;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
}

.woocommerce form.checkout_coupon input[type="submit"] {
	margin: 0px;
	padding: 14px 22px 13px 22px;
	background: #eee;
	position: relative;
    top: -2px;
    color: #111;
}

.woocommerce form.register {
	border: none;
	background-color: #f6f6f6;
}

.woocommerce form.login input.button,
.woocommerce form.register input.button {
	margin: 10px 10px 10px 0px;
}

.woocommerce-account .addresses .title h3 {
	margin-top: 0em;
}

.col2-set.addresses {
	margin-top: 40px;
	margin-bottom: 40px;
}

.content-area .entry-content p.myaccount_user {
	margin-bottom: 40px;
}

.woocommerce-account .addresses .title .edit {
	margin-top: 6px;
}

.woocommerce form .form-row .select2-container {
	border: 1px solid #e2e2e2;
}

.select2-container .select2-choice {
	font-weight: inherit;
}

.woocommerce input.button {
	font-weight: 400;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea {
	line-height: 1.3em;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, 
.woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 48%;
}

body.woocommerce-account .content {
	padding-bottom: 40px;
}

.woocommerce-account .content-area .woocommerce-MyAccount-navigation ul {
	list-style-type: none;
	padding-left: 0px;
}

.woocommerce-account .content-area .woocommerce-MyAccount-navigation ul li.is-active a {
	color: #111;
}

body .woocommerce table.my_account_orders {
	font-size: inherit;
}

body .woocommerce a.button {
	font-weight: 400;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}


/* -- Checkout */

.checkout_coupon p {
	margin-bottom: 0px;
}

.woocommerce-shipping-fields h3#ship-to-different-address label.checkbox {
	margin-top: 0px;
}

.woocommerce-checkout .content-area h3 {
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.woocommerce-checkout .content-area h3#order_review_heading {
	margin-top: 40px;
}

.woocommerce table.woocommerce-checkout-review-order-table th {
	vertical-align: middle;
}

.woocommerce table.woocommerce-checkout-review-order-table tfoot td {
	border-top: none;
}

.woocommerce table.woocommerce-checkout-review-order-table tfoot th {
	border-top: none;
	font-weight: inherit;
}

.woocommerce-checkout #payment {
	background: #f5f5f5;
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 0px;
}

.woocommerce-checkout #payment div.payment_box {
	background-color: #fff;
}

.woocommerce-checkout #payment div.payment_box:before {
	border: 1em solid #fff;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-color: #e2e2e2;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px 0.8em;
}

#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, 
.woocommerce-checkout #payment ul.payment_methods li input {
	position: relative;
	top: -1px;
}

.woocommerce form legend {
	padding-bottom: 10px;
	font-weight: 400;
	margin-top: 30px;
}

.woocommerce-account .entry-content a {
	border: none;
}

/* -- Confirmation */

.woocommerce-order-received .woocommerce {
	margin-bottom: 50px;
}

.woocommerce-order-received .content-area h2 {
	font-size: 24px;
}

.woocommerce table.shop_table thead th {
	font-size: 15px;
	border-top: 1px solid #e2e2e2;
}

.woocommerce-order-received .woocommerce table.shop_table tfoot td,
.woocommerce-order-received .woocommerce table.shop_table tfoot th {
	border-top: none;
	font-weight: bolder;
	vertical-align: middle;
}

.woocommerce table.shop_table strong.product-quantity {
	font-weight: inherit;
}

.woocommerce table.shop_table.customer_details tbody th {
	border-top: none;
	font-weight: bolder;
}

.woocommerce .order_details {
	padding-left: 0px;
	margin-top: 1.5em;
}

.woocommerce .woocommerce-thankyou-order-details.order_details {
	padding: 30px 30px 17px 30px;
	border: 1px solid #eee;
}

.woocommerce .order_details li strong {
	margin-top: 3px;
}

.woocommerce .order_details th.product-name,
.woocommerce .customer_details th {
	width: 40%;
}

.woocommerce table.customer_details {
	border-top: 1px solid #e2e2e2;
}

.woocommerce-order-received .content-area h2,
.woocommerce-order-received .content-area h3 {
	margin-bottom: 25px;
	margin-top: 50px;
	font-weight: normal;
}

/* -- My Account -- */

.woocommerce-account .content-area {
	padding-bottom: 30px;
}

.woocommerce-account .content-area fieldset {
	margin-top: 35px;
}

.woocommerce-account table.shop_table thead th {
	padding-top: 10px;
	padding-bottom: 10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin: -16px 0px 45px 0px;
	padding-right: 30px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	margin-bottom: 0px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 17px 40px 17px 0px;
	position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child a {
	border-bottom: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:after {
	font-family: 'FontAwesome';
	position: absolute;
	right: 0px;
	color: #e2e2e2;	
}

.woocommerce-MyAccount-content form > h3:first-child {
	margin-top: 0px;
}

.woocommerce table.my_account_orders .order-actions .button {
	font-size: 14px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:after {
	color: #111;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:after {
	content: '\f0e4';
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:after {
	content: '\f115';
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:after {
	content: '\f019';
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:after {
	content: '\f2b7';
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:after {
	content: '\f2c3';
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:after {
	content: '\f08b';
}