@charset "UTF-8";
/* ==========================
 base
===========================*/
body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* heading */
h1,
h2,
h3,
h4,
h5 {
  color: #383838;
  font-weight: 700;
  line-height: 1.375;
  margin: 0;
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: 0em;
  }
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.6rem;
  }
}

/* links */
a {
  color: #383838;
}

a:hover {
  color: #666;
  text-decoration: none;
  opacity: .7;
}

a img:hover {
  opacity: .7;
}

a:focus {
  text-decoration: none;
}

/* layout */
.ofi {
  -o-object-fit: cover;
  object-fit: cover;
  /* 他のブラウザ用(＝通常の指定) */
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  /* 他のブラウザ用(＝通常の指定) */
  font-family: "object-fit: cover; object-position: 50% 50%;";
}

/* ==========================
 common
===========================*/
p {
  margin-top: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

.inner {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.hosoku {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: .5rem;
}

.text-red {
  color: #e50012;
  font-weight: 700;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bg-arrow {
  background: url(../img/arrow.png) no-repeat top center;
  background-size: contain;
  height: 10rem;
  padding-top: 2rem;
  text-align: center;
}

/* ==========================
 header
===========================*/
header {
  padding: 1rem 0;
}

.logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 52%;
  flex: 0 0 52%;
  max-width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.logo p {
  margin: 0 0 0 .5rem;
  font-size: 1.3rem;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .logo p {
    display: none;
  }
}

.header-navi {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}

@media screen and (max-width: 768px) {
  .header-navi {
    display: none;
  }
}

.header-navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-navi .tel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 52%;
  flex: 0 0 52%;
  max-width: 52%;
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.header-navi .tel span {
  display: block;
}

.header-navi .tel span:first-child {
  display: block;
  font-size: 170%;
  font-weight: 700;
  padding-top: .3rem;
  letter-spacing: 0.08em;
  color: #e50012;
}

.header-navi .tel span:first-child svg {
  width: 16px;
  height: auto;
  margin-right: .3rem;
}

.header-navi .mail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46%;
  flex: 0 0 46%;
  max-width: 46%;
  font-size: 13px;
  text-align: center;
  background: #e50012;
  color: #fff;
  border-radius: 6px;
  padding: .5rem;
  font-weight: 700;
}

.header-navi .mail span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-navi .mail svg {
  width: 20px;
  height: auto;
  margin-right: .5rem;
}

.header-navi .mail a {
  color: #fff;
  display: block;
}

/* ==========================
 footer
===========================*/
/* banner-products */
.banner-products {
  text-align: center;
  padding: 4rem 0;
}

/* line */
.line {
  padding-bottom: 10rem;
}

@media screen and (max-width: 768px) {
  .line {
    padding-bottom: 5rem;
  }
}

.line .wrapper {
  background: #eeeae1;
  border-radius: 5px;
  padding: 5.6rem 6.4rem;
}

@media screen and (max-width: 768px) {
  .line .wrapper {
    padding: 3rem 2rem;
  }
}

.line h2 {
  color: #2cbf13;
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: 0.2em;
  line-height: 1;
  text-align: center;
  padding-bottom: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .line h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.line h2 span:first-child {
  font-size: 16px;
  font-size: 1.6rem;
  width: 150px;
  padding: .5rem 2rem .5rem 2.4rem;
  margin-right: 2.8rem;
  background: url(../img/slash-left.png) no-repeat left center, url(../img/slash-right.png) no-repeat right center;
}

@media screen and (max-width: 768px) {
  .line h2 span:first-child {
    display: inline-block;
    margin: 0 auto 1rem auto;
  }
}

.line .col-3 li {
  background: #fff;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .line .col-3 li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .line .col-3 li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 1.6rem 1.6rem;
  }
}

.line .label {
  background: #2cbf13;
  color: #fff;
  border-radius: 100%;
  min-width: 55px;
  height: 55px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  .line .label {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .line .label {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.line .label:after {
  content: "特典";
  display: block;
  font-size: 8px;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line .label span {
  margin-top: -1rem;
}

.line .title {
  line-height: 2.28571;
}

@media screen and (max-width: 1000px) {
  .line .title {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .line .title {
    text-align: left;
  }
}

.line .title span {
  color: #2cbf13;
  padding-bottom: .5rem;
  border-bottom: 1px solid #2cbf13;
}

.line p {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 0;
}

/* sns */
.footer-sns {
  background: #edf4f8;
}

.footer-sns .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5.3rem 0;
}

@media screen and (max-width: 768px) {
  .footer-sns .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 0;
  }
}

.footer-sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-sns ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer-sns ul a {
  display: block;
  padding: 0 1.4rem;
}

.footer-sns .link {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0 0 0 4rem;
  margin-left: 3rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-sns .link a {
  padding-right: 3rem;
}

@media screen and (max-width: 768px) {
  .footer-sns .link {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 0 0 0;
    margin-left: 0;
    margin-top: 3rem;
    text-align: center;
  }
}

/* footer-info */
.footer-info {
  background: #48545a;
}

.footer-info .wrapper {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.footer-info .footer-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  max-width: 150px;
  margin-right: 11.9rem;
}

@media screen and (max-width: 768px) {
  .footer-info .footer-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.footer-info .footer-logo a:first-child {
  text-align: center;
  display: block;
}

.footer-info .footer-logo a:last-child {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  display: block;
  background: url(/wp-content/themes/ase/img/icon-login-gray.png) no-repeat left bottom;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2.4rem 0 .5rem 3.4rem;
  margin-top: 4.6rem;
}

.footer-info .footer-navi {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  max-width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer-info .footer-navi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 4rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.footer-info .footer-navi a {
  color: #fff;
  display: block;
  padding: 1.6rem 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .footer-info .footer-navi a {
    font-size: 14px;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .footer-info .footer-navi a:after {
    content: "";
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -3px;
  }
}

.copyright {
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 2.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* ==========================
 top
===========================*/
.sec {
  padding: 1rem 0;
  margin: 1rem 0;
}

.sec01 img {
  float: left;
  padding: 0 1rem 2rem 0;
}

.sec01 h2 {
  padding-bottom: 1rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .sec01 h2 {
    font-size: 2rem;
  }
}

.sec02 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
  margin-bottom: 2rem;
  width: 100%;
}

.sec02 .inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sec02 .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

@media screen and (max-width: 768px) {
  .sec02 .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.sec02 .text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  max-width: 74%;
}

@media screen and (max-width: 768px) {
  .sec02 .text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.sec03 h2 {
  color: #c30d23;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .sec03 h2 {
    font-size: 2.4rem;
  }
}

.check-area {
  padding-top: 2rem;
}

.check-box {
  border: 2px solid #e85899;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .check-box {
    padding: 1.4rem;
  }
}

.check-box .title {
  background: #e85899;
  color: #fff;
  margin-top: -5rem;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: -2px;
  margin-bottom: .5rem;
}

.check-box .hosoku {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .check-box .hosoku {
    text-align: left;
  }
}

.check-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 5rem;
  color: #e50012;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .check-title p {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 4rem;
  }
}

.check-title p .free {
  border: 2px solid #e50012;
  border-radius: 8px;
  padding: 0 1rem;
  margin-right: 1.5rem;
  font-size: 3rem;
}

.check-title p .jikan {
  color: #000;
  font-size: 1.6rem;
  padding: 0 2rem;
}

.check-flow h3 {
  color: #e85899;
}

.flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .flow {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flow > li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
  max-width: 21%;
  position: relative;
}

.flow > li:after {
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  right: -5rem;
  bottom: 10%;
  width: 20px;
  height: 20px;
  border: 20px solid transparent;
  border-left: 20px solid #e85899;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .flow > li:after {
    left: 50%;
    bottom: -5rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 20px solid #e85899;
    border-left-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .flow > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    max-width: 46%;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .flow > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.flow > li:last-child:after {
  content: none;
}

@media screen and (max-width: 768px) {
  .flow > li:nth-child(2):after {
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .flow > li:nth-child(2):after {
    right: 50%;
  }
}

.flow .image {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding-bottom: 1rem;
  text-align: center;
}

.flow .image img {
  height: auto;
  width: 98%;
}

.flow .text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.flow .text ul {
  font-size: 1.3rem;
  list-style: disc;
  list-style-position: inside;
  line-height: 1.2;
  margin-top: .5rem;
  padding-left: 1rem;
}

.flow h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  position: relative;
}

.flow h4 span {
  color: #e85899;
  padding-right: .5rem;
}

.yoyaku-area {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin-top: 1rem;
}

.yoyaku-area .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

@media screen and (max-width: 768px) {
  .yoyaku-area .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

.yoyaku-area .image img {
  margin: 0;
}

.banner-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58%;
  flex: 0 0 58%;
  max-width: 58%;
}

@media screen and (max-width: 768px) {
  .banner-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.banner-area .hosoku {
  text-align: left;
}

.yoyaku-banner {
  padding: 1rem;
  background: #e50012;
  color: #fff;
  font-weight: 700;
}

.yoyaku-banner p {
  margin: 0;
}

.yoyaku-banner > p {
  font-size: 1.8rem;
  text-align: center;
}

.yoyaku-banner .large {
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .yoyaku-banner .large {
    display: block;
  }
}

.yoyaku-banner .tel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  font-size: 2.8rem;
  color: #fff000;
}

.sec08 .tel {
  font-size: 1.8rem;
font-weight:bold;
}

.yoyaku-banner .tel a {
  color: #fff000;
}


@media screen and (max-width: 768px) {
  .yoyaku-banner .tel {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.yoyaku-banner .inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.yoyaku-banner .inner p:last-child {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .yoyaku-banner .inner p:last-child {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  .yoyaku-banner .inner p:last-child br {
    display: none;
  }
}

.sec04 h2,
.sec05 h2,
.sec06 h2,
.sec07 h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  color: #004299;
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
  .sec04 h2,
  .sec05 h2,
  .sec06 h2,
  .sec07 h2 {
    font-size: 2.6rem;
  }
}

.reason-box {
  background: #d8e269;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
  height: 220px;
}

@media screen and (max-width: 1000px) {
  .reason-box {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .reason-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.reason-box .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 34%;
  flex: 0 0 34%;
  max-width: 34%;
}

@media screen and (max-width: 480px) {
  .reason-box .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.reason-box .image img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
}

.reason-box .text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64%;
  flex: 0 0 64%;
  max-width: 64%;
}

@media screen and (max-width: 480px) {
  .reason-box .text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}

.reason-box h3 {
  font-size: 2.6rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  .reason-box h3 {
    font-size: 2.2rem;
  }
}

.reason-box .lead {
  font-family: "Noto Sans JP", sans-serif;
  margin: .5rem 0;
  font-weight: 700;
}

.sec05 .inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sec05 .lead {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.sec05 .box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
border: solid 1px #dcdcdc;
padding: 4px;
}

@media screen and (max-width: 768px) {
  .sec05 .box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.sec06 .lead {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 0;
}

.sec06 .text-green {
  color: #006934;
  font-weight: 700;
}

.sec06 a {
  text-decoration: underline;
  color: blue;
}

.surgery {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .surgery {
    overflow: auto;
    white-space: nowrap;
  }
  .surgery::-webkit-scrollbar {
    height: 10px;
  }
  .surgery::-webkit-scrollbar-track {
    background: #ccc;
  }
  .surgery::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
  }
}

.surgery table {
  border-collapse: collapse;
  width: 100%;
}

.surgery th,
.surgery td {
  border: solid 1px #000;
  text-align: center;
  padding: .5rem;
}

.surgery tr:first-child th {
  background: #1eaa39;
  color: #fff;
}

.surgery tr:first-child th:first-child {
  font-size: 2.2rem;
  line-height: 1;
}

.surgery tr:first-child th:first-child {
  width: 32%;
}

.surgery td {
  color: #006934;
  font-weight: 700;
}

.surgery td span {
  font-size: 1.2rem;
  color: #000;
  padding-right: .5rem;
  font-weight: 400;
}

.sec07 h2 {
  line-height: 1.2;
  letter-spacing: -1px;
    padding-top: 0;
    margin-top: 2rem;
	font-size: 3.8rem;
}

@media screen and (max-width: 768px) {
  .sec07 h2 br {
    display: none;
  }
}

.sec07 .banner {
  padding-top: 2rem;
  display: block;
  margin: 0 auto;
}

.sec08 {
  background: #d2ecfa;
  padding: 1rem;
  margin: 0 auto;
}

.sec08 h2 {
  font-size: 2rem;
  margin: 1em 0;
}

.sec08 .inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sec08 .text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .sec08 .text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.sec08 .image {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

@media screen and (max-width: 768px) {
  .sec08 .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.sec08 dt {
  width: 10rem;
  float: left;
  clear: left;
}

@media screen and (max-width: 480px) {
  .sec08 dt {
    float: none;
  }
}

.sec08 dd {
  margin-left: 10rem;
}

@media screen and (max-width: 480px) {
  .sec08 dd {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.copyright {
  color: #000;
  font-size: 1.3rem;
}

/*# sourceMappingURL=style.css.map */


.pictureunder img {
margin: 15px auto 15px;
}

.surgery .border-none {
border-bottom-color: transparent;
}

.yoyaku table {
  border-collapse: collapse;
  width: 100%;
}

.yoyaku th,
.yoyaku td {
  border: solid 1px #e85899;
}

.yoyaku th {
  background: #e85899;
	color:#fff;
  line-height: 1.2;
  width: 30px;
	font-size: 26px;
		font-family:roboto;
}

.yoyaku td {
  width: 30px;
  height: 40px;
  text-align: center;
	position:relative;
	overflow: hidden;
	font-size: 24px;
	font-family:roboto;
}

.yoyaku td span {
font-size: 12px;
	background: #e85899;
  width: 16px;
  height: 16px;
	line-height:16px;
	border-radius: 50%;
	text-align:center;
	color:#fff;
	position:absolute;
	right:-2px;
	bottom:-2px;
}

.yoyaku .hosoku {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: -1px;
  margin: 0;
}

/* mobile */

.mobile {
	display: none;
}

@media screen and (max-width: 768px) {

	.mobile {
		display: block;
		background:rgba(0, 0, 0,.5);
		padding: 1rem;
		position: fixed;
		left: 0;
		bottom: 0;
    width: 100%;
	}	
	
.mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
	
	.mobile .tel {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
		background: #fff;
height:64px;
}

		.mobile .tel a {
		display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
					font-size: 16px;
		    letter-spacing: 0.08em;
    color: #e50012;
		    font-weight: 700;
			height: 100%;
}
	
	.mobile .tel svg {
    width: 16px;
    height: auto;
    margin-right: .3rem;
}

.mobile .mail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    font-size: 16px;
    text-align: center;
    background: #e50012;
    color: #fff;
    border-radius: 6px;
    padding: 1.25rem .5rem .5rem;
    font-weight: 700;
height:64px;
}
	
	.mobile .mail a {
    color: #fff;
		display: flex;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
}
	


.mobile .mail svg {
    width: 20px;
    height: auto;
    margin-left: .5rem;
}
}

.yoyaku-text {
    font-size: 13px;
    color: red;
    font-weight: bold;
    letter-spacing:-.01em;
    margin-bottom:.3rem;
}

.yoyaku-text span {

border: 1px solid red;
padding: .3rem;
margin-right: .3rem;
}