@charset "UTF-8";

/* =============================================================
    リセット
============================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding : 0;
  margin : 0;
  font : inherit;
  font-size : 100%;
  vertical-align : baseline;
  border : 0;
}
article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section {
  display : block;
}
body {
  line-height : 1;
}
ol, ul {
  list-style : none;
}
blockquote, q {
  quotes : none;
}
blockquote:before, blockquote:after {
  content : "";
  content : none;
}
q:before, q:after {
  content : "";
  content : none;
}
table {
  border-spacing : 0;
  border-collapse : collapse;
}

/* =============================================================
    clearfix
============================================================= */
.cf:after {
  display : block;
  clear : both;
  content : "";
}

/* =============================================================
    基礎スタイル
============================================================= */
html, body {
  width : 100%;
  height : 100%;
}
html {
  font-size : 62.5%;
  -webkit-font-smoothing : subpixel-antialiased;
}
body {
  overflow-x : hidden;
  font-family : "Noto Sans JP", Helvetica, Arial, sans-serif;
  font-size : 1.8rem;
  font-weight : 400;
  line-height : 1.72;
  text-rendering : optimizeLegibility;
}
a {
  font-style : normal;
  color : #f80;
  text-decoration : none;
}
img {
  width : 100%;
}

/* =============================================================
  レイアウト
============================================================= */

/*!
  共通
================================================ */
.l-inner {
  width : 1100px;
  margin : 0 auto;
}

/*!
  ヘッダー
================================================ */
.p-header .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  align-items : center;
  height : 108px;
  padding : 0 15px;
  -webkit-box-align : center;
  -ms-flex-align : center;
}
.p-header.is-sticky .l-inner {
  float : left;
  width : auto;
  width : 214px;
  height : auto;
  padding : 0;
}
.p-header.is-sticky .l-header-container {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  width : 1100px;
  padding : 0 15px;
  margin : 0 auto;
}

/*!
  コンテンツ
================================================ */
.l-checkList {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  margin-bottom : 50px;
}
.l-vein {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  width : 1100px;
  padding : 0 15px;
  margin : 0 auto;
  margin-bottom : 140px;
}
.l-vein .p-vein__figure {
  width : 445px;
}
.l-vein .c-txt {
  width : calc( 100% - 445px - 20px);
}

/* =============================================================
  コンポーネント
============================================================= */
.c-telephone {
  margin : 0 12px 0 auto;
}
.c-telephone a {
  position : relative;
  display : block;
  padding : 3px 0 0 58px;
}
.c-telephone h2 {
  font-size : 1.6rem;
  font-weight : 700;
  line-height : 1.5;
  color : #858585;
  letter-spacing : .1em;
}
.c-telephone__number {
  font-size : 2.4rem;
  font-weight : 300;
  color : #333;
}
.c-telephone__number a {
  color : #333;
}
.c-telephone__icon {
  position : absolute;
  top : -8px;
  left : 0px;
  font-size : 46px;
  line-height : 79.12px;
}
.is-sticky .c-telephone {
  display : none;
}
.c-btn {
  width : 370px;
  margin : 0 auto 110px;
}
.c-btn a {
  display : block;
  padding : 15px 30px;
  font-size : 1.8rem;
  color : #000;
  background : #f39c10;
  border-radius : 4px;
}
.c-btn a:before {
  display : inline-block;
  margin-right : 5px;
  font-family : "FontAwesome";
  font-size : 1.4rem;
  content : "\f1d8";
}
.c-blog-bnr {
  text-align: center;
  max-width: 735px;
  padding: 0 10px;
  margin:-2em auto 4em;
}
.c-txt p + p {
  margin-top : 20px;
}
.c-table {
  width : 1080px;
  margin : 130px auto 135px;
  text-align : left;
  border : 1px solid #ccc;
}
.c-table thead {
  background : #f90;
  border-bottom : 1px solid #ccc;
}
.c-table thead tr th {
  padding : 15px 25px 15px 15px;
}
.c-table thead tr th:not( :first-of-type ) {
  text-align : center;
  border-left : 1px solid #ccc;
}
.c-table tbody tr td {
  padding : 15px 25px 15px 15px;
}
.c-table tbody tr td:not( :first-of-type ) {
  text-align : center;
  border-left : 1px solid #ccc;
}
.c-table tbody tr td span.notes {
  font-size : 85%;
}
.c-table tbody tr + tr {
  border-top : 1px solid #ccc;
}
.c-table--hasNotes {
  margin : 50px auto !important;
}
.c-table--hasNotes + .c-programNotes {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  width : 1100px;
  padding : 0 15px;
  margin : 0 auto 65px;
}
.c-backToTop {
  position : fixed;
  right : 40px;
  bottom : 40px;
  width : 60px;
}
.c-backToTop a {
  position : relative;
  display : block;
  height : 0;
  padding-top : 60px;
  overflow : hidden;
  background : #f80;
  border-radius : 100%;
}
.c-backToTop a:before {
  position : absolute;
  right : 50%;
  bottom : 50%;
  font-family : "FontAwesome";
  color : #fff;
  content : "\f106";
  -webkit-transform : translate(50%, 50%);
  transform : translate(50%, 50%);
}
.c-cv {
  display : none;
}
.c-cv__list li img {
  vertical-align : bottom;
}

/* =============================================================
  プロジェクト
============================================================= */
.p-header {
  position : absolute;
  top : 0;
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  width : 100%;
  padding-top : 10px;
  border-top : 5px solid #002e67;
  -webkit-transition : .5s ease all;
  transition : .5s ease all;
}
.p-header.is-sticky {
  position : fixed;
  z-index : 999;
  width : 100%;
  padding-top : 0;
  background : #fff;
  border-top : 0;
  -webkit-transition : .5s ease all;
  transition : .5s ease all;
}
.p-header.is-sticky .p-logo {
  width : 214px;
  padding : 14px 0 13px;
}
.p-header.is-sticky .p-logo img {
  vertical-align : bottom;
}
.p-header.is-sticky .p-nav {
  float : left;
  width : calc(100% - 214px);
  border-top : 0;
}
.p-header.is-sticky .p-nav__list {
  -webkit-box-pack : end;
  -ms-flex-pack : end;
  justify-content : flex-end;
  width : auto;
}
.p-header.is-sticky .p-nav__list > li > a {
  padding : 16px 13px;
  font-size : 82%;
}
.p-header.is-sticky .p-nav__list > li:first-of-type > a {
  padding-left : 0;
}
.p-header.is-sticky .p-nav__list > li.p-nav__list__hasChildren > a {
  padding-right : 30px;
}
.p-header.is-sticky .p-nav__list > li > .p-nav__list__hasChildren__children {
  -webkit-transform : translate3d(0, 0, 0);
}
.p-logo {
  width : 321px;
}
.p-nav {
  border-top : 1px solid #eee;
}
.p-nav__hamburger {
  display : none;
}
.p-nav__list {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  width : 1100px;
  padding : 0 15px;
  margin : 0 auto;
  justify-content: space-between;
}
.p-nav__list > li > a {
  position : relative;
  display : block;
  padding : 16px 12px;
  font-size : 1.7rem;
  font-weight : 300;
}
.p-nav__list > li > a:before {
  position : absolute;
  top : -1px;
  left : 13px;
  z-index : 1;
  width : calc(100% - 30px);
  height : 1px;
  content : "";
  background : #f80 none repeat scroll 0% 0%;
  -webkit-transition : all .5s cubic-bezier(.125, .75, .415, 1) 0s;
  transition : all .5s cubic-bezier(.125, .75, .415, 1) 0s;
  -webkit-transform : scaleX(0) translateZ(0px);
  transform : scaleX(0) translateZ(0px);
  -webkit-transform-origin : 0px 0px 0px;
  transform-origin : 0px 0px 0px;
}
.p-nav__list > li > a:hover:before {
  -webkit-transform : scaleX(1) translateZ(0px);
  transform : scaleX(1) translateZ(0px);
}
.p-nav__list > li:first-of-type > a {
  padding-left : 0;
}
.p-nav__list > li:first-of-type > a:before {
  left : 0px;
  width : calc(100% - 15px);
}
.p-nav__list > li.p-nav__list__hasChildren > a {
  padding-right : 30px;
}
.p-nav__list > li.p-nav__list__hasChildren > a:before {
  width : calc(100% - 30px);
}
.p-nav__list > li.p-nav__list__hasChildren > a:after {
  position : absolute;
  top : 50%;
  right : 14px;
  display : block;
  margin-top : -2px;
  content : "";
  border : 4px solid transparent;
  border-top-color : #999;
}
.p-nav__list > li + li {
  margin-left : 10px;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children {
  position : absolute;
  z-index : 999;
  display : none;
  min-width : 220px;
  background : #fff;
  -webkit-box-shadow : 0px 1px 7px -3px rgba(0, 0, 0, .7);
  box-shadow : 0px 1px 7px -3px rgba(0, 0, 0, .7);
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li {
  position : relative;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li a {
  position : relative;
  z-index : 2;
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : block;
  padding : 14px 18px;
  font-size : 14px;
  font-weight : 300;
  line-height : 140%;
  color : #333;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li a:hover {
  color : #f80;
  background : #f9f9f9;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li + li a {
  border-top : 1px solid #f0f0f0;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li ul.p-nav__list__hasChildren__children__grandChildren {
  position : absolute;
  top : 0;
  left : 100%;
  display : none;
  min-width : 220px;
  background : #fff;
  -webkit-box-shadow : 0px 1px 7px -3px rgba(0, 0, 0, .7);
  box-shadow : 0px 1px 7px -3px rgba(0, 0, 0, .7);
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren {
  position : relative;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren > a {
  position : relative;
}
.p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren > a:after {
  position : absolute;
  top : 50%;
  right : 20px;
  width : 0;
  height : 0;
  content : "";
  border-color : transparent transparent transparent #bbb;
  border-style : solid;
  border-width : 3px 0 3px 4px;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}
.p-flexslider {
  position : relative;
  width : 100%;
  margin-top : 185px;
}
.p-flexslider .slides > li {
  height : 0;
  padding-top : 4.166%;
  overflow : hidden;
}
.p-flexslider .slides > li.p-flexslider__slides__item01 {
  background : url(../images/photo_keyvisual01.jpg) center center/cover no-repeat;
}
.p-flexslider .slides > li.p-flexslider__slides__item01--kobe {
  background : url(../images/photo_keyvisual03.jpg) center center/cover no-repeat;
}
.p-flexslider .slides > li.p-flexslider__slides__item02 {
  background : url(../images/photo_keyvisual02.jpg) center center/cover no-repeat;
}
.p-flexslider .slides > li.p-flexslider__slides__item02--shizuoka {
  background : url(../images/photo_keyvisual05.jpg) center center/cover no-repeat;
}
.p-flexslider .slides > li.p-flexslider__slides__item03 {
  background : url(/wp/wp-content/uploads/2019/02/mv2-1.jpg) center center/cover no-repeat;
}
.p-flexslider .flex-control-paging {
  bottom : 10px;
  opacity : 0;
  -webkit-transition : all .2s ease 0s;
  transition : all .2s ease 0s;
}
.p-flexslider .flex-control-paging li a {
  background : #fff;
  -webkit-box-shadow : none;
  box-shadow : none;
  opacity : .5;
}
.p-flexslider .flex-control-paging li a.flex-active {
  background : #fff !important;
}
.p-flexslider .flex-control-paging li a.flex-active {
  opacity : 1;
}
.p-flexslider .flex-direction-nav {
  opacity : 0;
  -webkit-transition : all .2s ease 0s;
  transition : all .2s ease 0s;
}
.p-flexslider .flex-direction-nav a {
  width : 35px;
  height : 120px;
  background-color : rgba(0, 0, 0, .3);
  border : none;
  border-radius : 0px;
  -webkit-box-shadow : none;
  box-shadow : none;
  opacity : 1;
  -webkit-transition : all .2s ease 0s;
  transition : all .2s ease 0s;
}
.p-flexslider .flex-direction-nav a:before {
  display : block;
  width : 100%;
  height : 100%;
  font-family : "FontAwesome";
  font-size : 26px;
  line-height : 120px;
  color : #fff;
  text-align : center;
  content : "\f105";
  opacity : .7;
}
.p-flexslider .flex-direction-nav a:hover {
  background-color : rgba(0, 0, 0, .8);
}
.p-flexslider .flex-direction-nav .flex-prev {
  left : 0;
}
.p-flexslider .flex-direction-nav .flex-prev:before {
  content : "\f104";
}
.p-flexslider .flex-direction-nav .flex-next {
  right : 0;
}
.p-flexslider:hover .flex-control-paging {
  opacity : 1;
  -webkit-transition : all .2s ease 0s;
  transition : all .2s ease 0s;
}
.p-flexslider:hover .flex-direction-nav {
  opacity : 1;
  -webkit-transition : all .2s ease 0s;
  transition : all .2s ease 0s;
}
.p-aboutUs {
  padding : 40px 0 30px;
  text-align : center;
  border-bottom : 1px solid #eaeaea;
}
.p-aboutUs__omiya {
  margin-bottom : 40px;
}
.p-bnrCheck {
  width : 735px;
  margin : 10px auto 100px;
}
.p-bnrCheck--kobe {
  width : 1080px;
  margin : 10px auto 100px;
}
.p-bnrCheck--hasHoliday {
  padding : 0;
  margin : 10px auto 20px;
}
.p-bnrHoliday {
  width : 735px;
  margin : 0px auto 100px;
}
.p-section01 {
  padding : 60px 0 110px;
  background : #ffe9c6;
}
.p-section01 .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  padding : 0 10px;
}
.p-section01 h2 {
  margin-bottom : 20px;
  font-size : 3.4rem;
  font-weight : 700;
  text-align : center;
}
.p-section01 h3 {
  margin-bottom : 20px;
  font-size : 2.8rem;
  font-weight : 700;
}
.p-section01 h3:before {
  display : inline-block;
  margin-right : 8px;
  font-size : 30%;
  vertical-align : middle;
  content : "■";
}
.p-section01 .c-btn {
  margin-bottom : 0;
}
.p-section02 {
  padding : 90px 0 110px;
}
.p-section02 .c-btn {
  margin-bottom : 0;
}
.p-section02 h2 {
  margin-bottom : 50px;
  font-size : 3.4rem;
  font-weight : 700;
  color : #f80;
  text-align : center;
}
.p-section02 h3 {
  margin-bottom : 30px;
  font-size : 2.8rem;
  font-weight : 400;
  color : #f80;
}
.p-section02 h3:before {
  display : inline-block;
  margin-right : 8px;
  font-size : 30%;
  vertical-align : middle;
  content : "■";
}
.p-varixFigure {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  width : 1040px;
  margin : 85px auto 75px;
}
.p-varixFigure li {
  width : 479px;
}
.p-varixFigure li + li {
  width : 504px;
  margin-left : 55px;
}
.p-varixFigure li figure figcaption {
  margin : 4px 0 0;
  font-size : 1.4rem;
  color : #666;
  text-align : center;
}
.p-checkList {
  width : 50%;
}
.p-checkList li:before {
  display : inline-block;
  margin-right : 5px;
  font-family : "FontAwesome";
  color : #f80;
  content : "\f14a";
}
.p-varixType {
  margin-bottom : 60px;
  border-bottom : 1px solid #d4d4d4;
}
.p-varixType li .p-varixType__toggle {
  position : relative;
  padding : 15px;
  font-weight : 700;
  cursor : pointer;
}
.p-varixType li .p-varixType__toggle:after {
  position : absolute;
  top : 50%;
  right : 15px;
  font-family : "FontAwesome";
  font-size : 1.4rem;
  content : "\f0d7";
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}
.p-varixType li .p-varixType__toggle:hover {
  color : #ff0c00;
}
.p-varixType li .p-varixType__toggle:hover:after {
  color : #000;
}
.p-varixType li .p-varixType__toggle.is-open:after {
  content : "\f0d8";
}
.p-varixType li + li {
  border-top : 1px solid #d4d4d4;
}
.p-varixType .p-varixType__body {
  display : none;
  padding : 15px;
}
.p-varixType .p-varixType__body .c-txt {
  margin-bottom : 50px;
}
.p-varixType .p-varixType__body__figure {
  width : 180px;
}
.p-vein__figure {
  margin-right : 20px;
}
.p-probability {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  margin-bottom : 50px;
}
.p-probability li {
  width : calc(33.33% - 13px);
}
.p-probability li .p-probability__txt {
  font-size : 5.4rem;
  font-weight : 700;
  line-height : 1;
  text-align : center;
}
.p-probability li + li {
  margin-left : 20px;
}
.p-liable {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}
.p-liable .p-liable__list {
  width : calc(33.33% - 43px);
  margin-bottom : 60px;
}
.p-liable .p-liable__list li {
  border : 1px solid #fff;
}
.p-liable .p-liable__list li img {
  vertical-align : bottom;
}
.p-liable .p-liable__list li + li {
  margin-top : 20px;
}
.p-liable .p-liable__list + .p-liable__list {
  margin-left : 65px;
}
.p-liable__txt {
  margin-bottom : 100px;
  font-size : 3.4rem;
  font-weight : 700;
  text-align : center;
  letter-spacing : -.3px;
}
.p-checkIntro {
  margin-bottom : 90px;
  text-align : center;
}
.p-symptom {
  margin-bottom : 100px;
}
.p-symptom li {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}
.p-symptom li .p-symptom__photo {
  width : 300px;
  margin-right : 40px;
}
.p-symptom li .p-symptom__body {
  width : 704px;
}
.p-symptom li .p-symptom__body h3 {
  margin-bottom : 50px;
  font-size : 1.8rem;
  font-weight : 700;
  color : #f80;
}
.p-symptom li .p-symptom__body h3:before {
  display : none;
}
.p-symptom li + li {
  margin-top : 40px;
}
.p-insurance {
  margin-bottom : 100px;
}
.p-worsening {
  margin-bottom : 90px;
}
.p-worsening__wrapper {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}
.p-worsening__wrapper__photo {
  width : 412px;
  margin-right : 20px;
}
.p-worsening__wrapper__body {
  width : 628px;
}
.p-treatment {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  width : 1100px;
  padding : 0 15px;
  margin : 0px auto 90px;
}
.p-treatment > li {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -webkit-box-align : start;
  -ms-flex-align : start;
  align-items : flex-start;
}
.p-treatment > li + li {
  margin-top : 70px;
}
.p-treatmentIntro {
  margin-bottom : 40px;
  text-align : center;
}
.p-treatment__photo {
  width : 300px;
  margin-right : 40px;
  border : 1px solid #fff;
}
.p-treatment__photo img {
  vertical-align : bottom;
}
.p-treatment__body {
  width : 717px;
}
.p-treatment__body h3 {
  margin-bottom : 45px;
}
.p-treatment__body__desc {
  margin-bottom : 45px;
  font-weight : 700;
}
.p-treatment__body__list {
  margin-bottom : 20px;
}
.p-treatment__body__list li {
  position : relative;
  padding-left : 25px;
}
.p-treatment__body__list li:before {
  position : absolute;
  top : 0;
  left : 0;
  font-family : "FontAwesome";
  color : #f80;
  content : "\f192";
}
.p-flow {
  width : 800px;
  margin : 0 auto 80px;
}
.p-flow li {
  position : relative;
  width : 800px;
  padding : 10px;
  margin-bottom : 110px;
  background : #fff;
}
.p-flow li h3 {
  margin-bottom : 30px;
  font-size : 2.8rem;
  color : #f80;
}
.p-flow li h3:before {
  display : inline-block;
  margin-right : 8px;
  font-size : 30%;
  vertical-align : middle;
  content : "■";
}
.p-flow li:after {
  position : absolute;
  bottom : -50px;
  left : 50%;
  width : 100%;
  padding-top : 25px;
  content : "";
  background : url(../images/img_arrow01.png) center top no-repeat;
  background-size : 40px 26px;
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}
.p-flow li:first-of-type {
  margin-bottom : 70px;
}
.p-flow li:first-of-type:after {
  padding-top : 25px;
}
.p-flow li:nth-of-type( 2 ):after, .p-flow li:nth-of-type( 3 ):after, .p-flow li:nth-of-type( 4 ):after, .p-flow li:nth-of-type( 5 ):after {
  bottom : -75px;
  font-size : 1.4rem;
  color : #666;
  text-align : center;
  content : "翌日以降";
}
.p-flow li:nth-of-type( 3 ):after {
  content : "１〜２日後";
}
.p-flow li:nth-of-type( 4 ):after {
  content : "１ヶ月";
}
.p-flow li:nth-of-type( 5 ):after {
  content : "２ヶ月";
}
.p-flow li:nth-of-type( 6 ) {
  margin-bottom : 0;
}
.p-flow li:nth-of-type( 6 ):after {
  display : none;
}
.p-flow--shizuoka {
  width : 1080px;
  margin : 0 auto 70px;
}
.p-flow--shizuoka li {
  position : relative;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  padding : 10px;
  margin-bottom : 110px;
}
.p-flow--shizuoka li h3 {
  color : #f80;
}
.p-flow--shizuoka li:after {
  position : absolute;
  bottom : -50px;
  left : 50%;
  width : 100%;
  padding-top : 25px;
  content : "";
  background : url(../images/img_arrow01.png) center top no-repeat;
  background-size : 40px 26px;
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}
.p-flow--shizuoka li:first-of-type {
  margin-bottom : 70px;
}
.p-flow--shizuoka li:first-of-type:after {
  padding-top : 25px;
}
.p-flow--shizuoka li:nth-of-type( 2 ):after, .p-flow--shizuoka li:nth-of-type( 3 ):after, .p-flow--shizuoka li:nth-of-type( 4 ):after, .p-flow--shizuoka li:nth-of-type( 5 ):after {
  bottom : -75px;
  font-size : 1.4rem;
  color : #666;
  text-align : center;
  content : "１週間";
}
.p-flow--shizuoka li:nth-of-type( 3 ):after {
  content : "１〜２日後";
}
.p-flow--shizuoka li:nth-of-type( 4 ):after {
  content : "１ヶ月";
}
.p-flow--shizuoka li:nth-of-type( 5 ) {
  margin-bottom : 0;
}
.p-flow--shizuoka li:nth-of-type( 5 ):after {
  display : none;
}
.p-flow--shizuoka__photo {
  align-items : flex-start;
  width : 343px;
  margin-right : 20px;
  border : 1px solid #fff;
  -webkit-box-align : start;
  -ms-flex-align : start;
}
.p-flow--shizuoka__photo img {
  vertical-align : bottom;
}
.p-flow--shizuoka__body {
  width : 717px;
}
.p-flow--shizuoka__body a {
  color : #333;
}
.p-doctor__body {
  width : 530px;
  margin-right : 90px;
}
.p-doctor__photo {
  width : 400px;
}
.p-doctor__photo figcaption {
  margin-top : 4px;
  font-size : 1.4rem;
  color : #666;
  text-align : center;
}
.p-doctor__photo--kitasenju, .p-doctor__photo--hachioji, .p-doctor__photo--chiba, .p-doctor__photo--hiroshima {
  width : 260px;
  margin-left : 80px;
}
.p-doctor .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  padding : 0 15px;
}
.p-doctor .c-btn {
  width : 203px;
  margin : 40px auto;
}
.p-doctor .c-btn a:before {
  content : "\f007";
}
.p-aboutClinic {
  margin : 0 0 135px;
}
.p-aboutClinic__body {
  width : 530px;
  margin-right : 57px;
}
.p-aboutClinic__body h3 {
  margin-bottom : 20px;
}
.p-aboutClinic__body__subject {
  position : relative;
  padding-left : 25px;
  margin-bottom : 20px;
}
.p-aboutClinic__body__subject:before {
  position : absolute;
  top : 0;
  left : 0;
  font-family : "FontAwesome";
  color : #f80;
  content : "\f192";
}
.p-aboutClinic__body__subject--main {
  margin-bottom : 40px;
}
.p-aboutClinic__body__subject + .p-aboutClinic__body__subject {
  margin : -20px 0 20px;
}
.p-aboutClinic__body dl {
  margin-bottom : 20px;
}
.p-aboutClinic__body .p-aboutClinic__body__notes li:before {
  content : "※";
}
.p-aboutClinic__body__day {
  margin-bottom : 20px;
}
.p-aboutClinic .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  padding : 0 15px;
}
.p-access {
  margin-bottom : 20px;
}
.p-access .l-inner {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -webkit-box-align : center;
  -ms-flex-align : center;
  align-items : center;
}
.p-access__body {
  width : 530px;
  margin-right : 20px;
}
.p-access__body address {
  margin-bottom : 20px;
}
.p-access__body__tel {
  margin-bottom : 20px;
}
.p-access__body__tel a {
  color : #00f;
}
.p-access__body__route {
  margin-bottom : 20px;
}
.p-access__body__googleMap {
  margin-bottom : 40px;
}
.p-access__body__googleMap a {
  color : #00f;
}
.p-access__body .c-btn {
  width : 200px;
  margin : 0;
}
.p-access__body .c-btn a:before {
  content : "\f041";
}
.p-access__map {
  width : 530px;
}
.p-clinicGallery {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  width : 100%;
  margin-bottom : 75px;
}
.p-clinicGallery.u-pcOnly {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}
.p-clinicGallery li {
  width : 33%;
  text-align : center;
}
.p-clinicGallery li img {
  width : 90.634%;
}
.p-clinicFlexGallery {
  position : relative;
  margin-bottom : 65px;
}
.p-clinicFlexGallery .flex-direction-nav a {
  height : 50px;
  opacity : .7;
}
.p-clinicFlexGallery .flex-control-nav {
  bottom : -30px;
}
.p-footer {
  padding : 60px 0 0;
  font-size : 1.5rem;
  color : #fff;
  background : #00275e;
}
.p-footer a {
  color : #fff;
}
.p-footer h4 {
  margin-bottom : 10px;
  font-size : 2.2rem;
  font-weight : 700;
}
.p-footer .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  padding : 0 15px 50px;
}
.p-footer__clinic {
  width : 355px;
  margin-right : 80px;
}
.p-footer__clinic__hour {
  margin-top : 40px;
}
.p-footer__nav__list li {
  margin-bottom : 4px;
}
.p-footer__nav__list li a {
  position : relative;
  display : block;
  padding-left : 18px;
}
.p-footer__nav__list li a:before {
  position : absolute;
  top : 10px;
  left : 0;
  display : block;
  width : 5px;
  height : 5px;
  content : "";
  background : #f80;
}
.p-footer__nav__list + h4 {
  margin-top : 40px;
}
.p-footer__nav__list + h5 {
  margin-top : 35px;
}
.p-footer__nav__list + .p-footer__nav__list {
  margin-top : 30px;
}
.p-footer__nav + .p-footer__nav {
  margin-left : 175px;
}
.p-footer .p-footer__copyright {
  padding : 24px 0;
  background : #021e44;
}
.p-footer .p-footer__copyright .l-inner {
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  padding : 0 15px;
}

/* =============================================================
  ユーティリティ
============================================================= */
.u-pcOnly {
  display : inline;
}
.u-spOnly {
  display : none;
}

@media screen and ( max-width : 768px ) {
  body {
    font-size : 1.6rem;
  }
  .l-checkList {
    display : block;
    margin-bottom : 70px;
  }
  .l-vein {
    display : block !important;
    margin-bottom : 40px;
  }
  .l-vein .p-vein__figure {
    width : 240px !important;
    padding-right : 0;
    margin : 0 auto 10px;
  }
  .l-vein .c-txt {
    width : 100% !important;
  }
  .c-telephone {
    margin : 5px auto !important;
  }
  .c-btn {
    width : 300px;
    margin-bottom : 65px;
  }
  .c-btn a {
    padding : 10px 20px;
    font-size : 1.5rem;
  }
  .c-table {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 94.66% !important;
  }
  .c-table thead {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
    float : left;
    width : 23.943%;
    border-right : 1px solid #ccc;
    border-bottom : 0;
  }
  .c-table thead tr {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
  }
  .c-table thead tr th {
    display : block;
    padding : 10px;
    text-align : center;
  }
  .c-table thead tr th:not( :first-of-type ) {
    border-top : 1px solid #ccc;
    border-left : 0;
  }
  .c-table thead tr th:first-of-type {
    padding : 23px 10px 24px;
  }
  .c-table thead tr th:last-of-type {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    height : 75px;
  }
  .c-table tbody {
    display : block;
    float : left;
    width : 76.057%;
  }
  .c-table tbody tr {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
    float : left;
    width : 50%;
  }
  .c-table tbody tr td {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
    padding : 10px;
  }
  .c-table tbody tr td:not( :first-of-type ) {
    border-top : 1px solid #ccc;
    border-left : 0;
  }
  .c-table tbody tr td:last-of-type {
    padding : 23px 10px 24px;
  }
  .c-table tbody tr + tr {
    border-top : 0;
    border-left : 1px solid #ccc;
  }
  .c-table--hasNotes + .c-programNotes {
    width : 100%;
    margin : 0 auto 20px;
  }
  .c-backToTop {
    display : none;
  }
  .c-cv {
    position : fixed;
    bottom : 0;
    z-index : 999;
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
    width : 100%;
    padding : 10px;
    background : #fff;
  }
  .c-cv__list {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
  }
  .c-cv__list li {
    margin : 0 5px;
  }
  .p-logo {
    width : 100% !important;
    padding : 5px 0;
    margin : 0 auto !important;
    text-align : center;
    border-bottom : 1px solid #eee;
  }
  .p-logo img {
    width : 250px;
    vertical-align : bottom;
  }
  .p-nav {
    background : #002e69;
    border-top : 0;
  }
  .p-nav__hamburger {
    display : block;
    padding : 20px 0;
  }
  .p-nav__hamburger > a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    left:calc(-50% + 0.5em + 18px) !important;
    position : relative;
    display : block;
    height : 18px;
  }
  .p-nav__hamburger > a span {
    position : absolute;
    top : 45%;
    left : 50%;
    display : block;
    width : 24px;
    height : 0;
    padding-top : 3px;
    overflow : hidden;
    background : #fff;
    -webkit-transform : translate(-50%);
    transform : translate(-50%);
  }
  .p-nav__hamburger > a:before {
    position : absolute;
    top : 0;
    left : 50%;
    display : block;
    width : 24px;
    height : 0;
    padding-top : 3px;
    overflow : hidden;
    content : "";
    background : #fff;
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
  }
  .p-nav__hamburger > a:after {
    position : absolute;
    bottom : 0;
    left : 50%;
    display : block;
    width : 24px;
    height : 0;
    padding-top : 3px;
    overflow : hidden;
    content : "";
    background : #fff;
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
  }
  .p-nav__list {
    display : none;
  }
  .p-nav__list > li > a {
    padding : 17px 15px 17px 0;
    font-size : 1.6rem;
    color : #fff;
  }
  .p-nav__list > li > a:before {
    display : none;
  }
  .p-nav__list > li.p-nav__list__hasChildren > a:after {
    border : 7px solid transparent;
    border-top-color : #fff;
  }
  .p-nav__list > li.p-nav__list__hasChildren.is-open > a:after {
    margin-top : -7px;
    margin-right : 2px;
    border-top-color : transparent;
    border-right-color : #fff;
  }
  .p-nav__list > li + li {
    margin-left : 0;
    border-top : 1px solid #ffffff1a;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children {
    position : static;
    background : transparent;
    -webkit-box-shadow : none;
    box-shadow : none;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li {
    border-top : 1px solid #ffffff1a;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li a {
    padding : 17px 15px 17px 20px;
    font-size : 1.4rem;
    color : #fff;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li a:hover {
    color : #fff;
    background : transparent;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li + li a {
    border-top : 0;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li ul.p-nav__list__hasChildren__children__grandChildren {
    position : static;
    background : transparent;
    -webkit-box-shadow : none;
    box-shadow : none;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li ul.p-nav__list__hasChildren__children__grandChildren li a {
    padding : 17px 15px 17px 40px;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren > a:after {
    margin-top : 3px;
    margin-right : -5px;
    border : 7px solid transparent;
    border-top-color : #fff;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren.is-open > a:after {
    margin-top : -2px;
    margin-right : -2px;
    border-top-color : transparent;
    border-right-color : #fff;
  }
  .p-flexslider.p-flexslider--shizuoka .slides > li {
    padding-top : 6% !important;
  }
  .p-flexslider .slides > li {
    padding-top : 7.5%;
  }
  .p-flexslider .slides > li.p-flexslider__slides__item01 {
    background : url(../images/photo_keyvisual01_sp.jpg) center center no-repeat;
    background-size : cover;
  }
  .p-flexslider .slides > li.p-flexslider__slides__item01--kobe {
    background : url(../images/photo_keyvisual03_sp.jpg) center center no-repeat;
    background-size : cover;
  }
  .p-flexslider .slides > li.p-flexslider__slides__item02 {
    background : url(../images/photo_keyvisual02_sp.jpg) center center no-repeat;
    background-size : cover;
  }
  .p-flexslider .slides > li.p-flexslider__slides__item02--shizuoka {
    background : url(../images/photo_keyvisual05_sp.jpg) center center no-repeat;
    background-size : cover;
  }
  .p-flexslider .slides > li.p-flexslider__slides__item03 {
    background : url(../images/photo_keyvisual04_sp.jpg?200215) center center no-repeat;
    background-size : cover;
  }
  .p-flexslider .flex-control-paging {
    display : none;
  }
  .p-flexslider .flex-direction-nav {
    display : none;
  }
  .p-bnrCheck {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 10px;
    margin-bottom : 50px;
  }
  .p-bnrCheck--kobe {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 10px;
    margin-bottom : 50px;
  }
  .p-bnrCheck--hasHoliday {
    padding : 0;
    margin : 10px auto 20px;
  }
  .p-bnrHoliday {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 0 10px;
    margin-bottom : 50px;
  }
  .p-section01 {
    padding : 40px 0 20px;
  }
  .p-section01 h3 {
    font-size : 2rem;
    font-weight : 400;
  }
  .p-section02 {
    padding : 10px 0;
  }
  .p-section02 h2 {
    font-size : 2.6rem;
  }
  .p-section02 h3 {
    font-size : 2rem;
    font-weight : 400;
  }
  .p-varixFigure {
    display : block;
  }
  .p-varixFigure li {
    width : 315px !important;
    padding : 0 !important;
    margin : 0 auto;
  }
  .p-varixFigure li + li {
    width : 315px !important;
    margin : 40px auto 0 !important;
  }
  .p-checkList {
    width : 100%;
  }
  .p-checkList li {
    position : relative;
    padding-left : 25px;
  }
  .p-checkList li:before {
    position : absolute;
    top : 0;
    left : 0;
    margin-right : 0;
  }
  .p-varixType {
    margin-bottom : 10px;
  }
  .p-probability {
    margin : 0 -10px 50px;
  }
  .p-probability li {
    width : calc(33.33%);
  }
  .p-probability li .p-probability__txt {
    font-size : 2rem;
  }
  .p-probability li + li {
    margin-left : 1px;
  }
  .p-liable {
    display : block;
  }
  .p-liable .p-liable__list {
    width : 300px;
    margin : 0 auto 10px;
  }
  .p-liable .p-liable__list + .p-liable__list {
    margin-top : 20px;
    margin-left : auto;
  }
  .p-liable__txt {
    margin-bottom : 40px;
    font-size : 1.6rem;
  }
  .p-checkIntro {
    margin-bottom : 70px;
    text-align : left;
  }
  .p-symptom {
    margin-bottom : 30px;
  }
  .p-symptom li {
    display : block;
  }
  .p-symptom li .p-symptom__photo {
    margin : 0 auto 20px;
  }
  .p-symptom li .p-symptom__body {
    width : 100%;
  }
  .p-symptom li .p-symptom__body h3 {
    margin-bottom : 30px;
  }
  .p-symptom li + li {
    margin-top : 70px;
  }
  .p-insurance {
    margin-bottom : 40px;
  }
  .p-insurance h3 {
    margin-bottom : 20px;
  }
  .p-worsening {
    margin-bottom : 35px;
  }
  .p-worsening h3 {
    margin-bottom : 30px;
  }
  .p-worsening__wrapper {
    display : block;
  }
  .p-worsening__wrapper__photo {
    width : 100%;
    margin : 0 0 20px;
  }
  .p-worsening__wrapper__body {
    width : 100%;
  }
  .p-treatment > li {
    display : block;
  }
  .p-treatment > li + li {
    margin-top : 40px;
  }
  .p-treatmentIntro {
    padding : 0 10px;
    margin-bottom : 45px;
  }
  .p-treatment__photo {
    margin : 0 auto 20px;
  }
  .p-treatment__body {
    width : 100% !important;
  }
  .p-treatment__body h3 {
    font-weight : 700;
  }
  .p-treatment + .c-btn {
    margin-bottom : 30px;
  }
  .p-flow {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 0 12px;
  }
  .p-flow li {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    margin-bottom : 115px;
  }
  .p-flow li h3 {
    margin-bottom : 20px;
    font-size : 2rem;
    font-weight : 700;
  }
  .p-flow li:after {
    padding-top : 34px;
    background-size : 51px 34px;
  }
  .p-flow li:first-of-type {
    margin-bottom : 63px;
  }
  .p-flow li:first-of-type:after {
    padding-top : 34px;
  }
  .p-flow li:nth-of-type( 2 ):after, .p-flow li:nth-of-type( 3 ):after, .p-flow li:nth-of-type( 4 ):after, .p-flow li:nth-of-type( 5 ):after {
    bottom : -85px;
  }
  .p-flow--shizuoka {
    margin : 0 auto 30px;
  }
  .p-flow--shizuoka li {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    display : block;
    width : 100%;
    margin-bottom : 115px;
  }
  .p-flow--shizuoka li:after {
    padding-top : 34px;
    background-size : 51px 34px;
  }
  .p-flow--shizuoka li:first-of-type {
    margin-bottom : 63px;
  }
  .p-flow--shizuoka li:first-of-type:after {
    padding-top : 34px;
  }
  .p-flow--shizuoka li:nth-of-type( 2 ):after, .p-flow--shizuoka li:nth-of-type( 3 ):after, .p-flow--shizuoka li:nth-of-type( 4 ):after, .p-flow--shizuoka li:nth-of-type( 5 ):after {
    bottom : -85px;
  }
  .p-flow--shizuoka__photo {
    width : 100% !important;
    margin : 0 0 20px;
  }
  .p-flow--shizuoka__body {
    width : 100% !important;
  }
  .p-flow--shizuoka + .c-btn {
    margin-bottom : 70px;
  }
  .p-doctor__body {
    width : 100%;
    margin-right : 0;
    margin-bottom : 40px;
  }
  .p-doctor__photo {
    width : 260px;
    margin : 0 auto;
  }
  .p-doctor__photo figcaption {
    margin-top : 0;
  }
  .p-doctor .l-inner {
    display : block;
  }
  .p-doctor .c-btn a {
    padding : 15px 30px;
    font-size : 1.8rem;
  }
  .p-doctor .c-btn a:before {
    font-size : 1.6rem;
  }
  .p-aboutClinic {
    margin : 0 0 20px;
  }
  .p-aboutClinic__body {
    width : 100%;
    margin-right : 0;
    margin-bottom : 40px;
  }
  .p-aboutClinic__body h3 {
    font-weight : 700;
  }
  .p-aboutClinic .l-inner {
    display : block;
  }
  .p-access {
    margin-bottom : 38px;
  }
  .p-access .l-inner {
    display : block;
  }
  .p-access__body {
    width : 100%;
    margin-right : 0;
  }
  .p-access__body .c-btn {
    width : 201px;
    margin : 0 auto 20px;
  }
  .p-access__body .c-btn a {
    padding : 15px 30px;
    font-size : 1.8rem;
  }
  .p-access__body .c-btn a:before {
    font-size : 1.6rem;
  }
  .p-access__map {
    width : 100%;
  }
  .p-clinicGallery.u-pcOnly {
    display : none;
  }
  .p-footer {
    padding : 10px 0 0;
    margin-bottom : 18.133%;
    font-size : 1.3rem;
  }
  .p-footer h4 {
    font-size : 1.65rem;
  }
  .p-footer .l-inner {
    display : block;
    padding-bottom : 30px;
  }
  .p-footer__clinic {
    width : 100%;
    margin-right : 0;
    margin-bottom : 20px;
  }
  .p-footer__clinic__hour {
    margin-top : 15px;
  }
  .p-footer__nav__list + h4 {
    margin-top : 20px;
  }
  .p-footer__nav__list + h5 {
    margin-top : 30px;
  }
  .p-footer__nav + .p-footer__nav {
    margin-top : 20px;
    margin-left : 0;
  }
  .u-pcOnly {
    display : none;
  }
  .u-spOnly {
    display : block;
  }
}

@media screen and ( max-width : 1024px ) {
  .l-inner {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 0 10px;
  }
  .l-vein {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    width : 100%;
  }
  .l-vein .p-vein__figure {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 36%;
    padding-right : 20px;
  }
  .l-vein .c-txt {
    width : calc(64% - 20px);
  }
  .c-table {
    width : 950px;
    margin : 50px auto 100px;
  }
  .c-table--hasNotes + .c-programNotes {
    width : 100%;
  }
  .p-nav__list {
    width : 100%;
  }
  .p-varixFigure {
    width : 100%;
    margin : 50px auto 32px;
  }
  .p-varixFigure li {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 50%;
    padding : 10px;
  }
  .p-varixFigure li + li {
    width : 50%;
    margin-left : 0;
  }
  .p-vein__figure {
    margin-right : 0;
  }
  .p-treatment {
    width : 100%;
  }
  .p-treatment__body {
    width : calc(100% - 300px);
  }
  .p-flow--shizuoka {
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    width : 100%;
    padding : 0 10px;
  }
  .p-flow--shizuoka__photo {
    width : 33%;
  }
  .p-flow--shizuoka__body {
    width : calc(77% - 20px);
  }
}

@media screen and ( max-width : 1200px ) {
  .p-header .l-inner {
    display : block;
    height : auto;
    padding : 0;
  }
  .c-telephone {
    width : 235px;
    margin : 20px auto;
  }
  .p-header {
    position : static;
    padding-top : 0;
  }
  .p-logo {
    width : 250px;
    margin : 25px auto;
  }
  .p-flexslider {
    margin-top : 0;
  }
}

@media screen and ( min-width : 769px ) {
  .p-nav__list > li:hover a + ul {
    display : block;
  }
  .p-nav__list > li ul.p-nav__list__hasChildren__children li.p-nav__list__hasChildren__children__hasGrandChildren:hover a + ul {
    display : block;
  }
}
