/*
Theme Name:clinic-pro-child
Template:clinic-pro
Version:1.1.3
*/

.widget_newentrywidgetitem li {
    padding-top: 14px;
    margin-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  #secondary .widget_newentrywidgetitem li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .ccfw-first-footer-wrapper .widget_newentrywidgetitem li:first-child {
    padding-top: 0px;
    margin-top: 0px;
    border: none;
  }
  
  .widget_newentrywidgetitem li a {
    display: block;
  }
  
  .widget_newentrywidgetitem li .post-date {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    opacity: 0.6;
    position: relative;
  }

  .column-template-default.single .ccfw-entry-footer {
    border-top: none;
  }

.byline {
  display: none;
}